* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    height: 100vh;
    background: linear-gradient(#091032 25%, #0E1A40, #091032 25%, #040823 100%, transparent);
    background-repeat: no-repeat;    
}